body {
    min-height: 100vh;
    max-width: 90vw;
    margin: 0;
    display: grid;
    place-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#habitsList {
    display: flex;
    flex-direction: column;

    gap: 10px;
    list-style: none;
}

.habitListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 50vw;
    max-width: 300px;
}

.habitListbuttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#habitsList li {
    margin-bottom: 20px;  /* Old-school way to add spacing */
}