body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}